<h1>This is a global challenge view</h1>
{{#if userInSession}}
  {{#each allChallenges}}
    <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
    <a href="#">Add this challenge to my list</a>
  {{/each}}
{{else}}
  {{#each allChallenges}}
      <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
  {{/each}}
{{/if}}
