<h1>This is a global challenge view</h1>
{{#if userInSession}}
  {{#each allChallenges}}
    <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
    <form action="/challenges/{{this.id}}/join" method="GET">
      <button>Join this challenge</button>
    </form>
  {{/each}}
  <a href="/challenges">My list of challenges</a>
{{else}}
  {{#each allChallenges}}
      <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
  {{/each}}
  <a href="/signup">Get started</a>
{{/if}}
