{{#if errorMessageDeletion}}
<script>window.alert('Unsuccessful challenge deletion. Try again!')</script>
{{/if}}

<h2>Your list of challenges, {{userInSession.username}}</h2>

<div class="challenges-containter">
    {{#each challengesFromDB}}
    <div class="challenge-item">
        <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
        <a href="/challenges/{{this.id}}">See challenge</a>
        <form action="/challenges/{{this.id}}/delete" method="POST">
            <button>Delete challenge</button>
        </form>
    </div>
    {{/each}}
</div>
<hr>
<a href="/challenges/new">Create a new challenge!</a>
<a href="/explore">Explore</a>