<a href="/challenges">Back to list of challenges</a>
<section id="challenge-header">
    <h2>{{challenge.goal}} in {{challenge.timeNumber}} {{challenge.timeFormat}}</h2>
    <h3>Category: {{challenge.category}}</h3>
</section>
<section id="challenge-body">
    <div class="challenge-time">
        <p>Start date: {{challenge.startDate}}</p>
        <p>Days left: {{challenge.daysLeft}}</p>
    </div>
    <div class="challenge-about">
        {{#if challenge.description}}
            <p>Description: {{challenge.description}}</p>
        {{/if}}
        {{#if challenge.thoughts}}
            <p>Thoughts: {{challenge.thoughts}}</p>
        {{/if}}
        {{#if challenge.resources}}
            <p>Resources: {{challenge.resources}}</p>
        {{/if}}
    </div>
</section>
<section id="challenge-body-milestones">
    <div class="challenge-milestones">
        {{#if challenge.milestonesForDB}}
        <form action="/challenges/{{challenge.id}}/count" method="POST">
        Milestones:
            <ol class="milestones-list">
                {{#each challenge.milestonesForDB}}
                    <li>{{this.name}}</li>
                    <input type="checkbox" name="milestone[]" value="{{this.name}}" {{#if this.status}} checked {{/if}}>
                {{/each}}
            </ol>
            <button type="submit" class="view-challenge-btn">Save my progress</button>
        </form>
        {{/if}}
    </div>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{challenge.progressPercent}};" aria-valuenow="{{challenge.progressPercent}}" aria-valuemin="0" aria-valuemax="100">{{challenge.progressPercent}}</div>
    </div>
</section>
<section id="challenge-body-invite">
    <div class="challenge-invite">
        <form action="/challenges/{{challenge.id}}/" method="POST">
            <label>
                Invite your friends:
                <textarea type="text" name="invitation"></textarea>
            </label>
            <button type="submit">Invite</button>
        </form>
    </div>
</section>
<a href="/challenges/{{challenge.id}}/edit">Edit this challenge</a>