<a href="/challenges">Back to list of challenges</a>
<hr>
<section id="challenge-header">
    <h2>{{challenge.goal}} in {{challenge.timeNumber}} {{challenge.timeFormat}}</h2>
    <h3>Category: {{challenge.category}}</h3>
</section>
<section id="challenge-body">
    <div class="challenge-time">
        <p>Start date: {{challenge.startDate}}</p>
        <p>Days left: {{challenge.daysLeft}}</p>
    </div>
    <div class="challenge-about">
        {{#if challenge.description}}
            <p>Description: {{challenge.description}}</p>
        {{/if}}
        {{#if challenge.thoughts}}
            <p>Thoughts: {{challenge.thoughts}}</p>
        {{/if}}
        {{#if challenge.resources}}
            <p>Resources: {{challenge.resources}}</p>
        {{/if}}
    </div>
    <div class="challenge-milestones">
        {{#if challenge.milestones}}
        Milestones:
            <ol class="milestones-list">
                {{#each challenge.milestones}}
                    <li>{{this}}</li>
                    <input type="checkbox">
                {{/each}}
            </ol>
        {{/if}}
        <p>Progress: function needed that counts %: milestones ticked/all milestones</p>
    </div>
    <div class="challenge-invite">
        <form action="/challenges/{{challenge.id}}/" method="POST">
            <label>
                Invite your friends:
                <textarea type="text" name="invitation"></textarea>
            </label>
            <button type="submit">Invite</button>
        </form>
    </div>
</section>
<a href="/challenges/{{challenge.id}}/edit">Edit this challenge</a>