<h2 class="text-center">Your challenges, {{userInSession.username}}</h2>

<div class="container">
    <div class="row justify-content-md-center">
        {{#each challengesFromDB}}
        <div class="col-sm-6 challenge-box">
            {{#if this.challengeCompletion}}
            <span class="completed">Completed</span>
            {{/if}}
            <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
            <p>{{this.category.[0]}}{{#if this.category.[1]}} | {{this.category.[1]}}{{/if}}{{#if this.category.[2]}} | {{this.category.[2]}}{{/if}}{{#if this.category.[3]}} | {{this.category.[3]}}{{/if}}{{#if this.category.[4]}} | {{this.category.[4]}}{{/if}}{{#if this.category.[5]}} | {{this.category.[5]}}{{/if}}{{#if this.category.[6]}} | {{this.category.[6]}}{{/if}}</p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{this.progressPercent}};" aria-valuenow="{{this.progressPercent}}" aria-valuemin="0" aria-valuemax="100">{{this.progressPercent}}</div>
            </div>
            <div class="challenge-btns">
                <a href="/challenges/{{this.id}}" class="view-challenge-btn text-center">See challenge</a>
                <form action="/challenges/{{this.id}}/delete" method="POST">
                    <button class="delete-btn text-center">Delete challenge</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="text-center">
    <a href="/challenges/new" class="challenge-btn">New challenge</a>
</div>