<a href="/challenges">Back to list of challenges</a>
<hr>
<section id="challenge-header">
    <h2>{{challenge.goal}} in {{challenge.timeNumber}} {{challenge.timeFormat}}</h2>
    <h3>Category: {{challenge.category}}</h3>
</section>
<section id="challenge-body">
    <div class="challenge-time">
        <p>Start date: {{challenge.startDate}}</p>
        <p>Time left: function to count it</p>
    </div>
    <div class="challenge-about">
        <p>Description: form needed here (post route needed too)</p>
        <p>Motivation: form needed here (post route needed too)</p>
        <p>Resources: form needed here (post route needed too)</p>
    </div>
    <div class="challenge-daily">
        <p>Daily progress: radio buttons Yes/No needed here (post route needed too)</p>
        <p>Daily thoughts: form needed here (post route needed too)</p>
    </div>
    <div class="challenge-milestones">
        <p>Milestones: form with checkbox needed</p>
        <p>Progress: function needed that counts %: milestones ticked/all milestones</p>
    </div>
    <div class="challenge-invite">
        <p>Invite your friends: form with textarea needed here and figure out how to send emails with invitation to join</p>
    </div>
</section>
<a href="/challenges/{{challenge.id}}/edit">Edit this challenge</a>