<section id="challenge-header">
    <h2 class="text-center">{{challenge.goal}} in {{challenge.timeNumber}} {{challenge.timeFormat}}</h2>
</section>
<section id="challenge-body">
    <div class="container challenge-body">
        <h6>Category: {{challenge.category.[0]}}{{#if challenge.category.[1]}} | {{challenge.category.[1]}}{{/if}}{{#if challenge.category.[2]}} | {{challenge.category.[2]}}{{/if}}{{#if challenge.category.[3]}} | {{challenge.category.[3]}}{{/if}}{{#if challenge.category.[4]}} | {{challenge.category.[4]}}{{/if}}{{#if challenge.category.[5]}} | {{challenge.category.[5]}}{{/if}}{{#if challenge.category.[6]}} | {{challenge.category.[6]}}{{/if}}</h6>
        <div class="challenge-time">
            <p>Start date: {{challenge.startDate}}</p>
            <p>Days left: {{challenge.daysLeft}}</p>
        </div>
        <div class="challenge-about">
            {{#if challenge.description}}
                <p>Description: {{challenge.description}}</p>
            {{/if}}
            {{#if challenge.thoughts}}
                <p>Thoughts: {{challenge.thoughts}}</p>
            {{/if}}
            {{#if challenge.resources}}
                <p>Resources: {{challenge.resources}}</p>
            {{/if}}
        </div>
        <a href="/challenges/{{challenge.id}}/edit" class="view-challenge-btn">Edit challenge</a>
    </div>
</section>
<section id="challenge-body-milestones">
    <div class="container challenge-body-milestones">
        <div class="challenge-milestones">
            {{#if challenge.milestonesForDB}}
            <form action="/challenges/{{challenge.id}}/count" method="POST">
            <h5>Milestones</h5>
            <p>Track your progress by setting and completing milestones</p>
                <ol class="milestones-list">
                    {{#each challenge.milestonesForDB}}
                    <label class="checkbox-container select-container milestones-container">{{this.name}}
                        <input type="checkbox" name="milestone[]" value="{{this.name}}" {{#if this.status}} checked {{/if}}>
                        <span class="checkmark"></span>
                    </label>
                    {{/each}}
                </ol>
                <button type="submit" class="view-challenge-btn">Save my progress</button>
            </form>
            {{/if}}
        </div>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{challenge.progressPercent}};" aria-valuenow="{{challenge.progressPercent}}" aria-valuemin="0" aria-valuemax="100">{{challenge.progressPercent}}</div>
        </div>
    </div>
</section>
<div class="text-center">
    <a href="/challenges" class="challenge-btn">Back to all challenges</a>
</div>
