<h2>Edit your challenge</h2>

{{#if errorMessage}}
<script>window.alert('Unsuccessful challenge creation. Try again!')</script>
{{/if}}

<form action="/challenges/{{challenge._id}}/edit" method="POST">
    <label>
        Category:
        <input type="checkbox" id="education" name="category" value="Education" {{setChecked category.Education "Education"}}>Education
        <input type="checkbox" id="sports" name="category" value="Sports" {{setChecked category.Sports "Sports"}}>Sports
        <input type="checkbox" id="arts" name="category" value="Arts" {{setChecked category.Arts "Arts"}}>Arts
        <input type="checkbox" id="entertainment" name="category" value="Entertainment" {{setChecked category.Entertainment "Entertainment"}}>Entertainment
        <input type="checkbox" id="self-care" name="category" value="Self-care" {{setChecked category.Self-care "Self-care"}}>Self-care
        <input type="checkbox" id="health" name="category" value="Health" {{setChecked category.Health "Health"}}>Health
        <input type="checkbox" id="other" name="category" value="Other" {{setChecked category.Other "Other"}}>Other
    </label>

    <br>
    <label>
        Time:
         <input type="number" id="time-number" name="timeNumber">
        <br>
        <input type="radio" id="time-days" name="timeFormat" value="Days">Days
        <input type="radio" id="time-weeks" name="timeFormat" value="Weeks">Weeks
        <input type="radio" id="time-months" name="timeFormat" value="Months">Months
        <input type="radio" id="time-years" name="timeFormat" value="Years">Years
    </label>
    <br>
    <label>
        Goal:
         <textarea type="text" name="goal">{{challenge.goal}}</textarea>
    </label>
    <br>
    <label>
        Start Date
        <input type="date" id="start-date" name="startDate" value={{challenge.date}}>
    </label>
    <br>
    <button type="submit">Create!</button>
</form>
</form>
